.ReportBtn{
    color: 
    #4CD964 !important;
}
.ReportinBTn{
    background-color: #F9F5FF;
    border-radius: 8px;
}
.ReportBtn1{
 
}
.ReportinBTn1{
    background-color: #F9F5FF;
    border-radius: 8px;
}
@media screen and (max-width: 540px) {
    .ReportinBTn1 {
        width: 95px;
       height: 23px;
    }
     span{
        font-size: 8px;
    }
}