.Hala p{
    color: #027A48;
    font-weight: bold;
font-size: 16px;

}
.Hala {
    background: #ECFDF3;
    border-radius: 16px;
}
.Hala1 p{
    color: #B54708;
    font-weight: bold;
font-size: 16px;

}
.Hala1 {
    background: #EDFC74;
border-radius: 16px;

}
.Hala3 p{
    color: #027A48;
}
.Hala3 {

    background: #ECFDF3;
border-radius: 16px;

}